<div>
  <a href="/">
    <img src="icon.png" />
  </a>
  <div>
    @if (place !== 'other') {
    <div>{{eventStart | date: 'MMMM d, yyyy'}}</div>
    <div>{{eventStart | date: 'shortTime'}} - {{eventEnd | date: 'shortTime'}}</div>
    }
    @else {
    <div>Intentional Community</div>
    <div>Conference</div>
    }
  </div>
</div>
<nav>
  @if(place === 'top') {
  <button (click)="scrollTo('about')">
    About
  </button>
  }
  @else if(place === 'bottom') {
  <button (click)="scrollTo('home')">
    Home
  </button>
  }
  @else {
  <a routerLink="/">
    Home
  </a>
  }
  @if(place !== 'other') {
  <button (click)="onClickAttend()">
    Attend
  </button>
  }
</nav>