<div>
  <div>
    <div>
      <div>Want to become a speaker?</div>
      <div>
        <a href="https://t.me/aarvoll">
          Contact &commat;aarvoll on Telegram
        </a>
      </div>
    </div>
    <div>
      <div>
        Customer Service
      </div>
      <div>
        <a href="mailto:IntentionalCommunityConference@proton.me">
          IntentionalCommunityConference&#8203;&commat;proton.me
        </a>
      </div>
    </div>
  </div>
  <div>
    <div>
      <a routerLink="/refund-and-dispute">
        <strong>Refund and dispute policy</strong>
      </a>
    </div>
    <div>
      ©2024 Intentional Community Conference. All Rights Reserved.
    </div>
  </div>
</div>
