<section>
  <div>
    <div>What we're about</div>
    <h2>Inspire and inform the next generation of intentional communities</h2>
    <div>We bring together a collection of the brightest minds to share their experiences with successful communities.</div>
  </div>
  <div>
    <iframe
      #youtube
      src="https://www.youtube.com/embed/00f6MBizIOQ?si=S2Ryi7SgY3_4S08u&amp;controls=0&amp;loop=1"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
      referrerpolicy="strict-origin-when-cross-origin"
      allowfullscreen
    ></iframe>
  </div>
</section>
