<section>
  <header>
    <wicoc-header place="other"></wicoc-header>
  </header>
  <div>
    <h1>Thank You for Registering!</h1>
    <p>We're excited to have you as part of this important conversation about intentional communities.</p>
    <p><strong>Date & Time:</strong> {{eventStart | date: 'MMMM d, yyyy'}} {{eventStart | date: 'shortTime'}} - {{eventEnd | date: 'shortTime'}}</p>
    <p>When the date of the event gets close, keep an eye out for an email with your access link. Be sure to check your spam folder.</p>
    <p>Know someone else who would benefit from attending? Share this conference with them and help spread the word!</p>
  </div>
</section>
<footer wicoc-footer></footer>
