:host {
  display: block;
  background-image: linear-gradient(#b2bcbe, #DAC493, #A7B4BD);
}

section#count-down,
footer {
  background: radial-gradient(#192224, #252821);
  color: #FFF;
}

section#count-down {
  text-align: center;
  padding: 2rem 0;
  position: relative;

  h2 {
    text-shadow: none;
    padding-bottom: 1rem;
    font-size: 2rem;
  }

  >div {
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    margin: 0 auto;

    >div {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      padding: 1rem;

      >div:first-child {
        font-size: xx-large;
        font-weight: bold;
      }
    }
  }
}

section#speaker {
  padding: 5rem 1rem;
  max-width: 100rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  h2 {
    font-size: 3rem;
  }

  >div#speakers {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    gap: 1rem;
    overflow: auto;

    >div {
      flex-shrink: 0;
      box-shadow: 0.2rem 0.1rem 0.1rem white;
      border-radius: 1rem;
      overflow: hidden;
      background-color: #FFF;
      font-weight: bold;
      font-size: large;
      width: 12rem;
      text-align: center;

      >div {
        padding: 0.5rem;
      }
    }

    img {
      width: 12rem;
      height: 12rem;
    }
  }
}

footer {
  padding: 2rem 1rem;

  >div {
    max-width: 100rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    >div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      >div:first-child {
        font-weight: bold;
      }
    }
  }
}

@media (max-width: 600px) {
  footer>div {
    flex-direction: column;
  }
}
